* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }


a{
    text-decoration: none;
    text-overflow: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linksNavBar{
    padding-left: 15px;
}

nav {
    background-image: linear-gradient(to left bottom, #1500f9, #6a00b0, #6c0073, #570043, #380022, #290517, #1b030d, #000000, #000000, #000000, #000000, #000000);
    padding: 3%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}   

body{
    background-color: #f8f8f8;
}

#modoOscuro{
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    border-radius: 25px;

    cursor: pointer;
}

.tituloOfertas{
    background-color:#fffdfd;
    height: 6vh;
    
}


.toggle{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg, #d8d8d8,#ffffff);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
}

#modoOscuro.active .toggle{
    left: 40px; 

}

body.active {
    background-color: black;
}


.swiper {
    width: 100%;
    height: 50%;
}


.card-img img{
    width: 100%;
    height: 100%;
}

.foto{
    width: 150px;
}

.imgSwiper{
    width: 100%;
}



.card {
    width: 15%;
    padding: 30px;
    border: 1px solid grey;
    margin: 10px;
    justify-items: end;
    background-color: #c4c4c4;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
}

.containerCardsOfertas{
    display: flex;
    flex-wrap: wrap;
}

.formContainer {
    width: 50%;
    margin:auto ;
    background-color: white;
    border-radius: 10px;
    }


form {
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-width: 500px;
    margin: 20% 20% 20% 20%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, 
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.enviarForm {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

h1{
    margin: 0;
    text-align: center;
}


.center {
    text-align: center;
}

.tituloCarrito{
    background-color:#fffdfd;
    height: 6vh;
    
}




